<div ng-controller="HomeController">

  <div class="w-section primerasnotas" id="inicio">
    <news-block></news-block>
  </div>
  <section class="pie" style="margin-top: -101px;"></section>
  <div class="frase1">
    <p class="textfrase1">Guay, bautizaron a los ríos los guaraníes.&nbsp;
      <br>
      <br>Guay, advierten en el campo argentino,
      <br>
      <br>como diciendo ¡guarda con esto!</p>
  </div>

  <div class="w-section segundasnoticias">
    <news-block-low></news-block-low>
  </div>
  <section class="pie" style="margin-top: -101px; background: black !important;"></section>
  <div class="frase1">
    <p class="textfrase1 banco">Guay, festejan en Centroamérica cuando algo les parece piola.&nbsp;
      <br>
      <br>Guay, por qué, se preguntan los gusanos en Miami todo el tiempo,&nbsp;
      <br>
      <br>no pudiendo comprender.</p>
  </div>

</div>
