<div class="container" style="margin-top: 150px">

  <div class="titulo1">{{noticia.volanta}}</div>
  <div class="titulo2">{{noticia.titulo}}</div>
  <div class="divrojo">
    <p class="parrrojo">{{noticia.descripcion}}</p>
  </div><img class="imgnota" src="/api/containers/images/download/{{noticia.foto_principal}}">
  <p class="parrnota" compile="{{noticia.cuerpo}}">

  </p>
  <a
     socialshare
     socialshare-provider="facebook"
     socialshare-text="720kb angular-socialshare"
     socialshare-url="http://">
    Share me
  </a>

</div>
